<% provide(:title, 'Contacts') %>
<h1>Contacts</h1>
<p>
  <a href="mailto:admin@railstutorial.org">E-mail Rails Tutorial Admin</a>
  <a href="mailto:jmahaney@gmail.com">E-Mail Implementer of this test app</a>
</p>
